<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
	<%- include include/header.ejs%>
		<div class="container">
    		<h1><%= title %></h1>
    		<p>Welcome to <%= title %></p>
    		<!-- Estados -->
    		<!-- Cidades -->
    		<!-- Bibliotecas -->
    		<!-- Livros -->
		</div>
	<%- include include/footer.ejs%>
	</body>
</html>
